<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sleep Pattern Analysis</title>
    <meta name="viewport" content="width=device-width">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/myStyle.css"  />
    <link rel="stylesheet/less" type="text/css" href="css/navbar.less" />

</head>
<body data-ng-app="app" ng-controller="MainCtrl">
    <!--<div ng-controller="MainCtrl">
        <p ng-repeat="x in data">Date : {{x.Date}}</p>
    </div>-->
   
    <div id="wrapper" class="fullpage">
        <div class="overlay"></div>
        <!-- Sidebar -->

        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            
            <ul class="nav sidebar-nav nav-tabs">
                <li >
                    <a href="#home-content" data-toggle="tab" class="sidebar-brand"> Sleep Analysis</a>
                </li>
                <li>
                    <a href="#query1" data-toggle="tab">Quality</a>
                </li>
                <li>
                    <a href="#query2" data-toggle="tab" >Quantity</a>
                </li>
                <li>
                    <a href="#query3" data-toggle="tab">Rhythm</a>
                </li>
                <li>
                    <a href="#query4" data-toggle="tab">Frequency</a>
                </li>
                <li>
                    <a href="#query5" data-toggle="tab">Query5</a>
                </li>
                <li>
                    <a href="#query6" data-toggle="tab"> Query6</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top hamcolor"></span>
                <span class="hamb-middle hamcolor"></span>
                <span class="hamb-bottom hamcolor"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1  tab-content">
                        <div id="home-content" class="tab-pane fade in active">
                        </div>
                        <div id="query1" class="tab-pane fade">
                            <h3>Quality of sleep</h3>
                            <br/>
                            <div class="row">
                                <div class="col-md-3 dropdown" style="color:black">
                                    <button class="btn btn-secondary dropdown-toggle query1_dropdown1" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Day/Night <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="query1_dropdown1_options" role="menu" aria-labelledby="dLabel">
                                        <li><a href="#">Day</a></li>
                                        <li><a href="#">Night</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 dropdown" style="color:black">
                                    <button class="btn btn-secondary dropdown-toggle query1_dropdown2" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Easy got up <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="query1_dropdown2_options" role="menu" aria-labelledby="dLabel">
                                        <li><a href="#">Best</a></li>
                                        <li><a href="#">Worst</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 dropdown" style="color:black">
                                    <button class="btn btn-secondary dropdown-toggle query1_dropdown3" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Feeling after <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="query1_dropdown3_options" role="menu" aria-labelledby="dLabel">
                                        <li><a href="#">Best</a></li>
                                        <li><a href="#">Worst</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" ng-click="query1_1()">Go</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">
                                                Day
                                            </th>
                                            <th style="text-align: center">
                                                Count
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="x in query1_1Data" >
                                            <td>{{x.Day}}</td>
                                            <td>{{x.Count}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row">
                                <div id="chart1_1div"></div>
                            </div>
                        </div>
                        <div id="query2" class="tab-pane fade">
                            <h1>Quantity of sleep</h1>
                            <div class="row">
                                <div class="col-md-5">
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">
                                                Day
                                            </th>
                                            <th style="text-align: center">
                                                Avg Duration
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="x in query2Data" >
                                            <td>{{x.Day}}</td>
                                            <td>{{x.Avg_Duration}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">
                                                Day
                                            </th>
                                            <th style="text-align: center">
                                                Avg Rating
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="x in query2_1Data" >
                                            <td>{{x.Day}}</td>
                                            <td>{{x.Avg_hft}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <div id="chart_div"></div>
                            </div>

                            <div>
                                <div id="chart2_div"></div>
                            </div>
                        </div>
                        <div id="query3" class="tab-pane fade">
                            <h1>Rhythm of sleep</h1>
                            <div class="row">
                                <div class="col-md-3 dropdown" style="color:black">
                                    <button class="btn btn-secondary dropdown-toggle query3_dropdown1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Avg<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="query3_dropdown1_options" role="menu" aria-labelledby="dLabel">
                                        <li><a href="#">Bed time</a></li>
                                        <li><a href="#">Wake up time</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 dropdown" style="color:black">
                                    <button class="btn btn-secondary dropdown-toggle query3_dropdown2" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Avg per <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" id="query3_dropdown2_options" role="menu" aria-labelledby="dLabel">
                                        <li><a href="#">Day</a></li>
                                        <li><a href="#">Month</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" ng-click="query3_1()">Go</button>
                                </div>
                            </div>
                            <table class="table text-center">
                                <thead>
                                <tr>
                                    <th style="text-align: center">
                                        Month/Day
                                    </th>
                                    <th style="text-align: center">
                                        Avg_time
                                    </th>
                                </tr>
                                </thead>
                                <tr ng-repeat="x in query3Data">
                                   <td>
                                       {{x.column_name}}
                                   </td>
                                    <td>
                                        {{x.Avg}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div id="chart3_div"></div>
                    </div>
                        <div id="query4" class="tab-pane fade">
                            <h1>Frequency of bedtime hours</h1>
                        </div> 
                        <div id="query5" class="tab-pane fade">
                            hello5
                        </div> 
                        <div id="query6" class="tab-pane fade">
                            hello6
                        </div>                          
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/public/navbar.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/app.js"></script>
</body>
</html>